/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.wrapper {
    min-height: 100%;
    display: flex;
	flex-direction: column;
}

.container {
    max-width: 1440px;
	margin: 0px auto;
}


.header_nav {
    display: flex;
    height: 90px;
    align-items:center;
    background-color: black;
}

.logo {
    margin-left: 20px;
}

.logo p {
    color: white;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

nav {
    margin: auto;
    margin-right: 40px;
}

nav ul {
    display: inline-flex;
    align-items: center;
    margin: 0 -15px;
}

ul li {
    margin: 0 15px;
}

li a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
}

.icon_profile {
    margin-right: 31px;
}

.welcome {
    display: block;
    position: relative;
    height: 600px;
    background: url("../assets/main/welcome/books.png") no-repeat;
}

.welcome h1 {
    display: block;
    position: absolute;
    width: 520px;
    height: 150px;
    margin-top: 220px;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    box-sizing: content-box;
    border: black solid 40px;
    color: white;
    background-color: black;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 837px;
}

.item__title {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    margin-top: 20px;

}

.item__title::after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    background-color: #0C0C0E;
    text-align: center;
    margin: 0 0 -20px -25px;
}

.about p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
}

.about p {
    margin-top: 61px;
}

.image__items {
    margin: 0 -12.5px;
    margin-top: 20px;
}

.image__items img {
    margin: 0 12.5px;
}

.carusel {
    margin-top: 40px;
}

.favorites {
    display: flex;
    flex-direction: column;
    height: 1439px;
}

.favorites__form {
    margin-top: 61px;
    margin-left: 20px;
}

input[type='radio'] {
    accent-color: #000000;}

.form__item__input1:checked~.form__item__label1 {
    font-weight: 700;
}

.form__item__input2:checked~.form__item__label2 {
    font-weight: 700;
}

.form__item__input3:checked~.form__item__label3 {
    font-weight: 700;
}

.form__item__input4:checked~.form__item__label4 {
    font-weight: 700;
}

legend {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form__list {
    margin-top: 40px;
}

.form__list input {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
}

.form__item__label {
    margin-left: 20px;
    margin-right: 90px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.form__list span {
    margin-left: 20px;
}

.favorites__items {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 60px;
    flex-wrap: wrap;
    
}

.book {
    margin-top: 40px;
    display: flex;
    width: 550px;
    height: 550px;
    border: 1px solid #000;
}

.book__hot {
    position: relative;
    height: 40px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book__hot::after {
    content: "";
    position: absolute;
    width: 63px;
    bottom: 0;
    height: 2px;
    background-color: rgba(187, 148, 95, 1);
    text-align: center;
    margin-left: -105px;
}

.book1__name {
    width: 170px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book1__name span {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book2__name {
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book2__name span {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book3__name {
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book3__name span {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book4__name {
    width: 160px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book4__name span {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book1__overview {
    width: 355px;
    margin: 20px 15px 0px 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;

}      

.book2__overview {
    margin: 20px 15px 0 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book3__overview {
    margin: 20px 15px 0 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book4__overview {
    width: 355px;
    height: 240px;
    margin: 20px 15px 0px 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book1__buy {
    margin-top: 11px;
    margin-left: 20px;
    width: 75px;
    height: 30px;
}

.book2__buy {
    margin-top: 51px;
    margin-left: 20px;
    width: 75px;
    height: 30px;
}

.book3__buy{
    margin-top: 11px;
    margin-left: 20px;
    width: 75px;
    height: 30px;
}

.book4__buy {
    width: 75px;
    height: 30px;
    margin-top: 90px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.book button.active:before {
    content: 'Own';
    padding: 8px 23px;
    color: rgba(187, 148, 95);
    border: rgba(187, 148, 95) solid 1px;
    border-radius: 5px;
  }
  
.book button:not(.active):after {
    content: 'Buy';
    padding: 8px 25px;
    border: black solid 1px;
    border-radius: 5px;
  }

.item__book {
    margin-top: auto;
    margin-right: -40px;
    margin-bottom: -1px;
}

.coffee__shop {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    height: 841px;
}

.coffee__shop p {
    margin-top: 60px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.lowercase {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;
}
.uppercase {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.menu__title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.drinks {
    display: flex;
}

.drinks__item div {
    margin-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.deserts {
    display: flex;

}

.menu__title2 {
    text-align: end;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.deserts__item div {
    text-align: end;
    position: relative;
    margin-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;    
}

.menu__item div {
    position: relative;
}

.menu__item div::before {
    position: absolute;
    content: " ";
    background:#BB945F;
    width: 100px;
    height: 1px;
    margin-top: 20px;
    
}

.menu__item div {
    margin-top: 40px;
    margin-left: 60px;
    width: 100px;
    height: 40px;
}

.menu__price div {
    margin-top: 40px;
    margin-left: 60px;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
} 

.contacts {
    margin: 20px 20px 0px 20px;
    height: 575px;
}

.contacts__info {
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}

.text__item1 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text__item2 {
    margin-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text__item3 {
    margin-top: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text__item4 {
    margin-top: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text__item5 {
    margin-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text__item6 {
    margin-top: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text__item6 span {
    font-weight: 700;
}

.library__card {
    display: flex;
    justify-content:space-between;
    margin-top: 61px;
}

.card__title {
    margin-left: 20px;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.card__bg {
    margin: 20px 20px 0 20px;
    width: 560px;
    height: 272px;
    background: #BB945F;
}

.card__bg__item {
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.card__bg p {
    width: 294px;
    height: 50px;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.card__bg input {
    width: 520px;
    height: 66px;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
}

.card__bg input:nth-child(2) {
    margin-left: 25px; 
}

.card__item form {
    margin-top: 30px;
    margin-left: 20px;
    width: 600px;
    height: 386px;
    border: 3px solid #BB945F;
    background: #FFF;
} 

.card__bg input::placeholder {
    padding-left: 20px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.card__bg__button {
    width: 242px;
    height: 44px;
    margin: 20px 179px 30px 179px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
}

.get__card {
    color: #000;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.get__item {
    width: 456px;
    margin-top: 35px;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
}

.get__button {
    margin-top: 35px;
    display: flex;
    justify-content: end;
}

.get__button button {
    width: 75px;
    height: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px; 
    border-radius: 2px;
    border: 1px solid #0C0C0E;  
}

.get__button button:first-child {
    margin-right: 20px;
}

.footer__nav {
    height: 250px;
    margin-top: 41px;
    background-color: black;
}

.adress {
    padding: 20px 0 30px 0;
    margin: 0px 20px 30px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.adress__item div {
    width: 230px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.adress__icon {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    height: 40px;
}

ul li {
    margin: 8px 15px 0 0;
}

.opening__hours {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.opening__time {
    margin-bottom: 10px;
}

.footer__rss {
    margin: 41px 20px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
}